* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.hamburger {
	display: none;
	cursor: pointer;
	margin-right: 30px;
}

.bar {
	display: block;
	width: 27px;
	height: 3px;
	margin: 5px;
	background-color: black;
	transition: all 0.3s ease;
}

.nav-brand {
	font-size: 2rem;
	font-weight: 600;
	background: -webkit-linear-gradient(#eee, purple);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	min-height: 100px;
	background-color: rgba(245, 245, 245, 0.479);
}

.nav-menu {
	display: flex;
	align-items: center;
	gap: 20rem;
}

.nav-item {
	font-size: 1.2rem;
	font-weight: 400;
	color: purple;
}
.hr-line {
	width: 100%;
	height: 2px;
	background-color: black;
}
main {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: antiquewhite;
	padding: 2rem 10rem;
}
.frontend-div {
	display: block;
}

h1 {
	font-weight: 900;
	font-size: 4rem;
}
p {
	margin: 1rem 0;
	font-size: 1.5rem;
	line-height: 2rem;
}

button {
	padding: 12px 12px;
	background-color: transparent;
	font-size: 16px;
	font-weight: 800;
}

.view-btn {
	background-color: whitesmoke;
}

.learn-btn {
	margin-left: 10px;
}

button:hover {
	background-color: black;
	color: white;
}

.project-img {
	max-width: 650px;
}

h2 {
	text-align: center;
	font-size: 2rem;
	margin: 2rem 0;
}
.section-p {
	text-align: center;
}

.card-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	margin: 5rem 10rem;
}

.card-menu-p {
	font-size: 1rem;
	font-weight: 800;
	padding: 0 10px;
	text-align: center;
}

.icon {
	max-width: 100px;
	height: auto;
}

.card {
	margin: 10px;
	max-width: 550px;
	padding: 15px;
	display: flex;
	border: 2px solid black;
}

.ready-frontend {
	display: block;
	justify-content: center;
	align-items: center;
}
.ready-h2 {
	font-weight: 900px;
}

.btn {
	display: block;
	margin: auto;
}

footer {
	margin-top: 50px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 3rem;
}

h3 {
	font-size: 0.9rem;
	margin-bottom: 10px;
}

span {
	font-size: 1.2rem;
	margin-right: 10px;
	font-weight: 800;
}

@media (max-width: 1350px) {
	.nav-menu {
		gap: 8rem;
	}
}

@media (max-width: 923px) {
	.project-img {
		margin: 20px 20px;
	}

	@media (max-width: 1310px) {
		.project-img {
			margin: 20px 20px;
		}
		.nav-bar {
			display: flex;
			flex-direction: row-reverse;
			justify-content: start;
		}

		.hamburger {
			display: block;
		}

		.hamburger.active .bar:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}
		.hamburger.active .bar:nth-child(2) {
			opacity: 0;
		}
		.hamburger.active .bar:nth-child(3) {
			transform: translateY(-8px) rotate(-45deg);
		}

		.nav-menu {
			position: fixed;
			text-align: center;
			flex-direction: column;
			width: 100%;
			left: -100%;
			top: 0;
			gap: 0;
			background-color: antiquewhite;
			transition: 0.4s;
		}
		.nav-menu.active {
			left: 0;
		}

		.nav-item {
			margin: 8px auto;
		}

		.card {
			min-width: 170px;
			display: block;
			text-align: center;
			margin: 20px;
			max-width: 200px;
			padding: 30px;
		}

		.icon {
			max-width: 90px;
			max-height: 90px;
			height: auto;
		}
	}
	@media (max-width: 1200px) {
		main {
			display: block;
			text-align: center;
			padding: 0 10px;
		}
		.project-img {
			margin: 0.5rem auto;
			max-width: 400px;
		}
	}

	@media (max-width: 500px) {
		h1 {
			font-size: 2rem;
		}
		p {
			font-size: 1rem;
		}
		.project-img {
			max-width: 250px;
		}
	}
}
